<!DOCTYPE html>
<html>
<head> 
  <title> {{title}} </title>
    <style type="text/css">
    
   body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: aquamarine;
      margin: 50px;
    }

   h1 {
      color: blue;
    }
   </style>
</head>
<body>
   <h1>{{title}}</h1>
   <a href="/main">Main Page</a>
<div> 
   {{#each userEntries}} 
      <p>UserID: {{this.userid}}  Password: {{this.password}}</a></p> 
   {{/each}} 
</div>
</body>
</html>